{% load static %}
{% load i18n %}

<header class="header-section">
  <div class="menu-item">
    <div class="my-container">
      <div class="row align-items-center">
        <div class="col-lg-2">
          <div class="logo">
          </div>
        </div>
        <div class="col-lg-10">
          <div class="nav-menu">
            <nav class="mainmenu d-block header-block">
              <ul class="nav-menu d-inline-block">
                {% if request.path == '/' or request.path == '/en/' %}
                  <a href="{% url 'home-page' %}">
                    <img src="{% static 'img/Feel-white.png' %}" alt="" class="mt-3" height="400"/>
                  </a>
                {% else %}
                  <a href="{% url 'home-page' %}">
                    <img src="{% static 'img/logoshape.png' %}" alt="" class="mt-3" />
                  </a>
                {% endif %}
              </ul>
              <ul class="nav-menu d-inline-block float-right">
                {% get_current_language as CURRENT_LANGUAGE %}
                {% get_available_languages as AVAILABLE_LANGUAGES %}
                {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                {% for language in languages %}
                <li>
                  {% if language.code == "ar" %}
                  <a href="/" {% if language.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
                    {{ language.name_local }}
                  </a>
                  {% else %}
                  <a href="/{{language.code}}/" {% if language.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
                    {{ language.name_local }}
                  </a>
                  {% endif %}
                </li>
                {% endfor %}
                {% if user.is_authenticated %}
                <li>
                  <a><i class="fa fa-user-circle"></i></a>
                  <ul class="dropdown">
                    <li><a href="#">{% trans 'Hello' %}, {{request.user.username}}</a></li>
                    <li><a href="{% url 'booking-list' %}">{% trans "Booking Details" %}</a></li>
                    <li><a href="{% url 'login' %}">{% trans "Logout" %}</a></li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <a href="#"><i class="fa fa-user-circle"></i></a>
                  <ul class="dropdown">
                    <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
