{% load static %}
{% load i18n %}
<div class="offcanvas-menu-overlay">
</div>
<div class="canvas-open">
  <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">

    <i class="icon_close"></i>
  </div>

  <nav class="mainmenu mobile-menu">
    <ul>
      {% get_current_language as CURRENT_LANGUAGE %}
      {% get_available_languages as AVAILABLE_LANGUAGES %}
      {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
      {% for language in languages %}
      <li>
        {% if language.code == "ar" %}
        <a href="/" {% if language.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
          {{ language.name_local }}
        </a>
        {% else %}
        <a href="/{{language.code}}/" {% if language.code == CURRENT_LANGUAGE %} class="active" {% endif %}>
          {{ language.name_local }}
        </a>
        {% endif %}
      </li>
      {% endfor %}
      {% if user.is_authenticated %}
      <li>
        <a><i class="fa fa-user-circle"></i></a>
        <ul class="dropdown">
          <li><a href="#">{% trans 'Hello' %}, {{request.user.username}}</a></li>
          <li><a href="{% url 'booking-list' %}">{% trans "Booking Details" %}</a></li>
          <li><a href="{% url 'login' %}">{% trans "Logout" %}</a></li>
        </ul>
      </li>
      {% else %}
      <li>
        <a href="#"><i class="fa fa-user-circle"></i></a>
        <ul class="dropdown">
          <li><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
        </ul>
      </li>
      {% endif %}

    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="top-social">
    <a href="{{contact_details_obj.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="{{contact_details_obj.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="{{contact_details_obj.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
    <a href="{{contact_details_obj.youtube}}" target="_blank"><i class="fa fa-youtube-play"></i></a>
    <a href="{{contact_details_obj.snapchat}}" target="_blank"><i class="fa fa-snapchat"></i></a>
    <a href="{{contact_details_obj.tiktok}}" target="_blank"><img src="{% static '/img/tiktokwhite.svg' %}" alt="tiktok"
        style="width: 17px;height: 16px;margin-bottom: 4px;" /> </a>
  </div>
</div>
