{% load i18n %}
<div class="offcanvas-menu-overlay"></div>
<div class="canvas-open">
  <i class="icon_menu"></i>
</div>
<div class="offcanvas-menu-wrapper">
  <div class="canvas-close">
    <i class="icon_close"></i>
  </div>

  <nav class="mainmenu mobile-menu">
    <ul>
      <li class="{% block home_active %}{% endblock home_active %}"><a href="{% url 'home-page' %}">{% trans "Home" %}</a></li>
      <li class="{% block restroom_active %}{% endblock restroom_active %}"><a href="{% url 'restroom-page' %}">{% trans "Resort" %}</a></li>
      <li class="{% block contact_active %}{% endblock contact_active %}"><a href="{% url 'contact-page' %}">{% trans "Contact" %}</a></li>
      <li><a href="#" class="arb">العربية</a></li>
      <li><a href="#" class="eng">ENG</a></li>
      <li>
        <a href="#"><i class="fa fa-user-circle"></i></a>
        <ul class="dropdown">
          <li><a href="#">{% trans "SignIn" %}</a></li>
          <li><a href="#">{% trans "SignUp" %}</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div id="mobile-menu-wrap"></div>
  <div class="top-social">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-youtube-play"></i></a>
  </div>
</div>
