{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<style>
  .header-block a{
    color: #85764D !important;
  }
  .btn-primary{
    background-color: #85764D !important ;
  }
  .fc-daygrid-day-number{
    color: #85764D !important ;
  }
  .fc-col-header-cell-cushion{
    color: #85764D !important ;
  }
  .fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid #85764D; /* Replace #FF0000 with your desired border color */
  }
  
  .fc-theme-standard .fc-scrollgrid {
    border: 1px solid #85764D; /* Replace #FF0000 with your desired border color */
  }

  #calendar{
    font-size: 22px !important;
  }

  .fc-h-event .fc-event-title-container{
    justify-content: center!important;
    display: flex!important;
  }

  .canvas-open {
    color: #85764d;
    border: 1px solid #85764d;
  }

  .fc td, .fc th {
    border-style: none !important;
  }

  .fc-scrollgrid {
      border: none !important;
  }
    
  .fc-scrollgrid td:last-of-type {
      border-right: none !important;
  }

  .fc-scroller {
      height: auto !important;
  }
    
  .fc-head .fc-widget-header {
      margin-right: 0 !important;
  }
    
  .fc-scroller {
      overflow: visible !important;
  }

  .fc-daygrid-day-top {
    justify-content: center;
  }

  .fc-daygrid-day-events {
    text-align: center;
  }

  .fc-event-main s{
    color: red;
    text-decoration: line-through;
  }
</style>

<section style="margin-top:100px;">
  <div class="my-container">
    {% comment %} <button type="submit" class="btn btn-primary border-0 rounded font-weight-light  float-right" id="bookNowButton"
      disabled data-toggle="modal" data-target="#exampleModal">Book Now</button> {% endcomment %}
    <div id='calendar'></div>
    <hr>
    <div class="col-12" id="customer-info">
      <div class="row">
        <div class="col-12">
          <h4> {% trans "Customer Information" %}</h4>
        </div>
        <div class="col-12">
          <form action="{% url 'restroom-page' %}?room_id={{ room_id }}" class="contact-form mb-5" method="post">
            {% csrf_token %}
            <div class="row">
              <input type="hidden" name="room_id" id="room_id_input" value="{{ room_id }}">
              <input type="hidden" name="total_price" id="total_price_id_input">
              <input type="hidden" name="selected_dates" id="selected_dates_id_input">
    
              <div class="col-lg-12">
                <input type="text" name="name" placeholder="{% trans 'Name' %}" class="mb-3">
              </div>

              <div class="col-lg-12">
                <input type="text" name="id_number" placeholder="{% trans 'Id Number' %}" class="mb-3">
              </div>

              <div class="col-lg-12">
                <input type="tel" name="phone_number" placeholder="{% trans 'Phone No'%}" class="mb-3" required>
              </div>

              <div class="col-lg-12">
                <input type="text" name="special_requests" placeholder="{% trans 'Special Requests' %}" class="mb-3">
              </div>

              <div class="col-lg-12">
                <label class="m-0 p-0 text-secondary-light">{% trans 'Birth Date' %}</label>
                <input type="date" name="birth_date" placeholder="{% trans 'Birth Date' %}" class="mb-3">
              </div>

              <div class="col-lg-12">
                <button type="submit" class="btn-block"  id="bookNowButton"
                disabled>{% trans "Submit Booking" %}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-12">
          <p>
            {% trans "Conditions" %}:
          </p>
          {% for item in condition %}
            <p>
              {{item.sequence}}. {% if '/en/' in request.path %}{{item.condition}}{% else %}{{item.condition_arabic}}{% endif %}
            </p>
          {% endfor %}
        </div>
      </div>

    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="invalidDate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Invalid Date" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>{% trans "Cannot book on this date" %}</h4>
            <p>{% trans "You are selecting invalid date for booking, please select a valid date for your booking." %}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var allEvents = [];
  let customer_info_div = document.getElementById("customer-info")

  function getCurrentView() {
    var currentView = new FullCalendar.Calendar('getView');
    // Get the start and end dates of the currently displayed view
    var startDate = currentView.start;
    var endDate = currentView.end;
  }

  function getApiData() {
    let data_str = "{{room_prices|safe}}";
    allEvents = JSON.parse(data_str.replace(/'/g, '"'));
    
    for (var i = 0; i < allEvents.length; i++) {
      allEvents[i].editable = false

      let isRoomAvailable = allEvents[i].is_room_available;

      if(isRoomAvailable=='True'){
        allEvents[i].selectable = true
      }else{
        allEvents[i].selectable = false
      }
    }
    return allEvents
  }


  allEvents = getApiData()

  let selected_date = null;
  let selected_rate = null;

  function date_selected(date) {
    let today = new Date()
    const day = today.getDate();
    today.setDate(day - 1);
    
    if(date.start < today){
      selected_date = null
      selected_rate = null
      $('#invalidDate').modal('show')
      return false;
    }
    if (selected_date === date.startStr) {
      selected_date = null
      selected_rate = null
      return 
    } else {
      selected_date = date.startStr
    }

    let key = "date"
    let rate_obj = allEvents.find(obj => {
      return obj.start === selected_date
    })

    if ( rate_obj  && rate_obj.is_room_available == 'True') {
      selected_rate = rate_obj.rate
      $('#total_price_id_input').val(selected_rate);
      $('#selected_dates_id_input').val(selected_date);
      $('#bookNowButton').prop('disabled', false);
    } else {
      $('#total_price_id_input').val(null);
      $('#selected_dates_id_input').val(null);
      $('#bookNowButton').prop('disabled', true);

    }

    // Add or remove css class list to change the warning color as per requirements 
    let fc_daygrid_day_frame = document.getElementsByClassName("fc-daygrid-day-frame")
    for (let item of fc_daygrid_day_frame) {
      let tr = item.parentElement
      if (selected_date === tr.getAttribute("data-date")) {
        tr.classList.add("bg-warning")
        customer_info_div.scrollIntoView()
      } else {
        tr.classList.remove("bg-warning")
      }
    }
  }

  function parseEventData(response) {
    allEvents= response;
    for (var i = 0; i < allEvents.length; i++) {
      allEvents[i].editable = false
      let isRoomAvailable = allEvents[i].is_room_available;
      if(isRoomAvailable=='True'){
        allEvents[i].selectable = true
      }else{
        allEvents[i].selectable = false
      }
    }
    return allEvents;
  }

  function event_click(event){
    date_selected(event.event)
  }

  // Full calendar is used in this, follow below url for docs and more info
  // https://fullcalendar.io/docs


  // This below code is main to render the template 
  document.addEventListener('DOMContentLoaded', function () {

    let currentMonthEvents = "{{room_prices|safe}}";
    allEvents = JSON.parse(currentMonthEvents.replace(/'/g, '"'));

    for (var i = 0; i < allEvents.length; i++) {
      allEvents[i].editable = false

      let isRoomAvailable = allEvents[i].is_room_available;

      if(isRoomAvailable=='True'){
        allEvents[i].selectable = true
      }else{
        allEvents[i].selectable = false
      }
    }


    var calendarEl = document.getElementById('calendar');
    let today = new Date()

    var calendar = new FullCalendar.Calendar(calendarEl, {
      //var calendar = $('#calendar').fullCalendar({
      headerToolbar: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      showNonCurrentDates: false,
      initialView: 'dayGridMonth',
      eventLongPressDelay: 1, // Adjust the long-press delay for touch devices (default is 1000)
      longPressDelay: 1, // Adjust the long-press delay for touch devices (default is 1000)
      selectLongPressDelay: 1, // Adjust the long-press delay for touch devices (default is 1000)
      initialDate: today,
      selectable: true,
      selectAllow: function (e) {
        if (e.end.getTime() / 1000 - e.start.getTime() / 1000 <= 86400) {
            return true;
        }
      },
      events: allEvents,
      eventContent: function (arg) {
        return { html: arg.event._def.title }
      },
      eventDisplay: 'auto',
      eventTextColor: '#000000',
      eventBorderColor: 'rgb(255,0,0,0)',
      eventColor: 'rgb(255,0,0,0)',
      unselectAuto: true,
      select: (date) => date_selected(date),
      eventClick: event_click,
    });

    calendar.render();

    var elements = document.getElementsByClassName("fc-prev-button");
    for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('click', loadEvents, false);
    }
    var nextelements = document.getElementsByClassName("fc-next-button");
    for (var i = 0; i < nextelements.length; i++) {
        nextelements[i].addEventListener('click', loadEvents, false);
    }

    async function loadEvents() {
    let roomId = "{{room_id|safe}}";
      let calendarView=calendar.view;
      let currentStart=calendarView.currentStart;
      var year = currentStart.getFullYear();
      var month = String(currentStart.getMonth() + 1).padStart(2, '0');
      var day = String(currentStart.getDate()).padStart(2, '0');
      var startDate = `${year}-${month}-${day}`;
      $.ajax({
        url: `/api/room/price/calendar/?start_date=${startDate}&room=${roomId}`, // Replace with your server-side endpoint
        type: 'GET',
        success: function (response) {
          // Parse the response and extract the event data
          allEvents = parseEventData(response);

          // Remove existing event sources
          calendar.getEventSources().forEach(function (source) {
            source.remove();
          });

          // Add the new event source and refetch events
          calendar.addEventSource(allEvents);
          calendar.refetchEvents();
        },
        error: function (xhr, status, error) {
          // Handle the error case
          console.log(error);
        }
      });
    }

  });

</script>
{% endblock content %}