{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<section class="hero-section restroom">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="hero-text p-0">
          <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player
            class="lpanim"
            src="https://assets4.lottiefiles.com/packages/lf20_bvjhz66u.json"
            background="transparent"
            speed="1"
            loop
            autoplay
          ></lottie-player>
          <h1 class="font-weight-bolder">{% trans "Congratulations!" %}</h1>
          <p class="mt-5">{% trans "Your booking is confirmed. Thank You!" %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="{% static 'img/hero/hero-2.jpg' %}"></div>
  </div>
</section>
<!-- Hero Section End -->
<section class="mt-5 mb-5">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-12">
        {% for booking in booking_details %}
          <div class="contact-text">
            <h2 class="font-weight-bolder text-center mb-3 text-dark">
              {% trans "Booking Details" %}
            </h2>

            <table class="table table-borderless booking-det">
              <tbody>
                <tr>
                  <td>{% trans "Check-In Date" %}</td>
                  <td>{{ check_in_date|date:"d Y M" }}</td>
                </tr>
                <tr>
                  <td>{% trans "Booking ID" %}</td>
                  <td>{{ booking.booking_id }}</td>
                </tr>
                <tr>
                  <td>{% trans "Booked On" %}</td>
                  <td>{{ booking.booking_date }}</td>
                </tr>
                <tr>
                  <td>{% trans "Details" %}</td>
                  {% if "en" in request.path %}
                  <td>{{ booking.room.name }} and {{ booking.room.allow_people }} {% trans "people" %}</td>
                  {% else %}
                  <td>{{ booking.room.name_arabic }} and {{ booking.room.allow_people }} {% trans "people" %}</td>
                  {% endif %}
                </tr>
                <tr>
                  <td>{% trans "Price" %}</td>
                  <td>{{ booking.total_price }} {% trans "SR" %}</td>
                </tr>
                
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock content %}
