{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

{% for banner in banners %}
<section class="hero-section">
  <div class="my-container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="hero-text my-0 py-0">

          <img src="{% static 'img/Feel-white.png' %}" alt="" height="400"/>
          {% if "en" in request.path %}

            {% comment %}
              <h1 class="font-weight-bolder">{{ banner.title }}</h1>
            {% endcomment %}
            <p class="mt-5 mb-0 py-0">
              {{ banner.description }}
            </p>

          {% else %}

            {% comment %}
              <h1 class="font-weight-bolder">{{ banner.title_arabic }}</h1>
            {% endcomment %}
            <p class="mt-5 mb-0 py-0">
              {{ banner.description_arabic }}
            </p>
            
          {% endif %}

          {% comment %}
            <a class="btn btn-dark" href="{% url 'calendar-page' rooms.0.id %}">
              {% trans "Book Now" %} 
            </a>
          {% endcomment %}

        </div>
      </div>
    </div>
  </div>

  <div class="hero-slider owl-carousel">
    {% for image in banner.images.all %}
    <div class="hs-item set-bg" data-setbg="{{ image.image.url }}"></div>
    {% endfor %}
  </div>
</section>
{% endfor %}

{% comment %}
<section class="hero-section pb-1">
  <div class="my-container">
    <div class="testimonial-slider owl-carousel">
      {% for room in rooms %}

      <div class="item">
        <div class="room-content">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <ul class="list-unstyled text-white">
                <li>
                  <span class="w">{% trans "Size of Resort" %}:</span>
                  <i class="fa fa-building text-lightbrown"></i>
                  <span>{{room.size_of_restroom}}</span>
                </li>
                <li>
                  <span class="w">{% trans 'One Hall Capacity' %}: </span><i class="fa fa-home text-lightbrown"></i>
                  <span>{{room.hall_capacity}} </span>
                </li>
                <li>
                  <span class="w">{% trans 'Two Bedrooms' %}:</span>
                  <i class="fa fa-bed text-lightbrown"></i>
                  <span>{{room.no_of_bedroom}}</span>
                </li>
                <li>
                  <span class="w">{% trans 'Swimming Pool' %}:</span>
                  <i class="fa fa-mixcloud text-lightbrown"></i>
                  <span>{{room.no_of_swimming_pool}}</span>
                </li>
                <li>
                  <span class="w">{% trans 'Bathrooms' %}: </span><i class="fa fa-bathtub text-lightbrown"></i>
                  <span>{{room.no_of_bathroom}}</span>
                </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-12">
              <ul class="list-unstyled text-white">
                {% for feature in room.feature.all %}
                {% if "en" in request.path %}

                <li><i class="fa {{feature.icon_class}} text-lightbrown fs-12"></i> <span>{{feature.feature_name}}
                  </span> </li>
                {% else %}
                <li><i class="fa {{feature.icon_class}} text-lightbrown fs-12"></i>
                  <span>{{feature.feature_name_arabic}} </span> </li>

                {% endif %}

                {% endfor %}
              </ul>
            </div>

          </div>
          <hr>
          <div class="row">
            <div class="col-12 text-center">
              <a class="btn btn-dark border-0 rounded font-weight-light mt-3" href="{% url 'calendar-page' room.id %}">
                {% trans "Book Now" %} </a>
            </div>
          </div>
        </div>
        <div class="card border-0 rounded overflow-hidden">
          <img class="w-100" src="{{room.room_image.url}}">
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endcomment %}

<section class="hero-section pb-1">
  <div class="my-container">
    <div class="row">
      <div class="col-md-12 col-sm-12">

        <div class="testimonial-slider owl-carousel">
          {% for item in room_banner %}
            <div class="item">
                <div class="card border-0 rounded overflow-hidden">
                    <img class="w-100" src="{{item.image.url}}"> 
                    <p class="badge rounded-pill badge-dark text-white counters" id="counters"> </p>
                </div>
            </div>
          {% endfor %}
        </div>

        <div class="room-content">
          <p class="text-dark h4 mb-4">{% trans "What this place offers" %}:</p>
          <div class="testimonial-slider-content owl-carousel">
                
            {% for feature in room.feature.all %}
              {% if forloop.counter0|divisibleby:6 %}
                <div class="item">
                  <div class="col-sm-12">
                    <ul class="list-unstyled text-white">
              {% endif %}

              <li> 
                <span class="w"><i class="{{feature.icon_class}} text-gold pr-2"></i>{% if "en" in request.path %} {{feature.feature_name}} {% else %} {{feature.feature_name_arabic}} {% endif %}</span>
              </li>

              {% if forloop.counter|divisibleby:6 %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            {% if not room.feature.all.count|divisibleby:6 %}
                  </ul>
                </div>
              </div>
            {% endif %}
          </div>

          <div class="row">
              <div class="col-sm-12 col-md-8 offset-md-2 text-center">
                  <a class="btn btn-dark btn-block border-0 rounded-0 pt-2 pb-2 font-weight-light mt-5" href="{% url 'calendar-page' room.id %}">
                    {% trans "Book Now" %}
                  </a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'includes/map.html' %}

{% endblock content %}
